@keyframes slide1{
    0%{
        transform: translatetranslate(0vw);
    }
    25%{
        transform: translate(25vw);
    }
    50%{
        transform: translate(50vw);
    }
    100%{
        transform: translate(100vw);
    }
}
/* @keyframes slide2{
    0%{
        transform: translate(100vw);
    }
    25%{
        transform: translate(-75vw);
    }
    50%{
        transform: translate(-50vw);
    }
    100%{
        transform: translate(0vw);
    }
} */
@keyframes slide2{
    0%{
        transform: translate(-25vw);
    }
    25%{
        transform: translate(0vw);
    }
    50%{
        transform: translate(50vw);
    }
    100%{
        transform: translate(100vw);
    }
}
