@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #2874f0;
}

header {
    background-color: var(--main-bg-color);
    color: white;
    margin: 0 0 100px 0px;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;

}

nav {
    display: flex;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex start;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

.search {
    display: flex;
    align-items: center;
    /* margin: 0 10px; */
}

.search input {
    width: 30vw;
    height: 30px;
    border-radius: 2px;
    margin: 100px 100px 100 100px;
    padding: 0 10px;
}

.search button {
    font-family: 'Lato', sans-serif;
    
}

.slider {
    width: 100vw;
    margin: 10px 59px;
    overflow: hidden;
    display: flex;
    justify-content: center;    
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.card {
    max-width: 96vw;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    
}
.card-item img:hover{
    height: 170px;
    width: 170px;
    /* overflow: hidden; */
    /* transition: 0.5s; */
    margin: auto;
    padding: auto;
    
    cursor: pointer;
}

.card h2 {
    font-family: 'Ubuntu', sans-serif;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style: none;
    font-family: 'Lato', sans-serif;
    padding: 0 22px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bolder;
}
.img1{
    transform: translateX(0vw);
    animation: slide1 50s 2s forwards;
}
/* .img2{
    transform: translateX(100vw);
    animation: slide2 50s 2s reverse;
} */
.img2{
    transform: translateX(-100vw);
    animation: slide2 50s 2s forwards;
}